
<div class="jumbotron jumbotron-fluid" id="jumbo">
  <div class="container">
    <h1 class="display-4">Burgers!</h1>
    <p class="lead">Pick any Burger you desire and Eat it! .</p>
  </div>
</div>

<div class= "container">


<h2>Burgers to eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless eat}}
      {{> burgers/burger-block eat=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2> Eaten Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if eat}}
      {{> burgers/burger-block eat=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>


  <button type="submit">Add A Burger</button>
</form>

</div>