body {
  background-color: firebrick;
}

#jumbo {
  background-color: goldenrod;
  text-align: center;
}



li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form{
    padding: 10px;
    margin: 10px;
    background: #faebd7;
  }
  
  .form-group {
    margin-bottom: 5px;
     background: #faebd7;
  }