body {
  background-color: firebrick;
}

#jumbo {
  background-color: goldenrod;
  text-align: center;
 }

 img {
   width: 200px;
 }

 .burgerSign{
   font-size: 100px;
   font-weight: bolder;
 }



li {
    padding: 5px;
    margin: 5px;
    background: #2da01e;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form{
    padding: 45px;
    margin: 20px;
    background: #472b05;
    color: honeydew;
    font-size: 18px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 5px;
     background: #472b05;
  }
  footer{
    padding: 30px;
    text-align: center;
    background-color: goldenrod;
    font-weight: bolder;

  }